.profileContainer {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
}

.userProfileEdit {
  width: 400px;
}

.userImage {
  width: 250px;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    /* justify-content: center; */
    align-items: center;
  }

  .userImage {
    width: 150px;
    margin: 20px 40px;
  }
}

@media screen and (max-width: 500px) {
  .profileContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
  }

  .userImage {
    width: 150px;
    margin: 20px 40px;
  }

  .editProfileForm {
    width: 300px;
  }

  .userProfileEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
