/* .registerForm {
  width: 30%;
} */

.registerWelcomeNote {
  text-align: start;
  font-weight: 100;
  width: 100vw;
  height: 161px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}

.registerWelcomeNote > h1 {
  font-size: 50px;
  position: relative;
  top: 30px;
  left: 160px;
}

.mainDiv {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-around;
  padding: 0 60px;
}

.registerInput,
.registerButton,
.singup {
  border-radius: 20px;
  height: 50px;
  /* width: 50%; */
  align-self: center;
}

.imgDiv {
  width: 50%;
  /* margin-right: 20px; */
  margin-bottom: 110px;
}

.registerSvg {
  width: 500px;
  margin-top: 10px;
}

.registerForm {
  width: 400px;
  /* margin-right: 100px; */
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 15px;
  z-index: 200px;
  box-shadow: 0 5px 8px 0;
  padding: 30px 20px;
  position: relative;
  bottom: 120px;
}

@media screen and (max-width: 800px) {
  .mainDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    padding: 0 60px;
  }

  .registerWelcomeNote {
    text-align: start;
    font-weight: 100;
    width: 100vw;
    overflow: hidden;
    height: 180px;
    font-family: "Quicksand", sans-serif;
  }

  .registerWelcomeNote > h1 {
    font-size: 50px;
    position: relative;
    top: 40px;
    left: 100px;
  }

  .imgDiv {
    width: 100%;
    /* margin-right: 20px; */
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
  }

  .registerSvg {
    width: 500px;
    margin-bottom: 30px;
  }

  .registerForm {
    width: 500px;
    background-color: white;
    border-radius: 15px;
    z-index: 200px;
    box-shadow: 0 5px 8px 0;
    padding: 50px 40px;
    position: relative;
    bottom: 150px;
  }
}

@media screen and (max-width: 500px) {
  .mainDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    padding: 0px;
  }

  .registerWelcomeNote {
    text-align: start;
    font-weight: 100;
    width: 100vw;
    overflow: hidden;
    height: 161px;
    font-family: "Quicksand", sans-serif;
  }

  .registerWelcomeNote > h1 {
    font-size: 40px;
    position: relative;
    top: 40px;
    left: 50px;
  }

  .imgDiv {
    width: auto;
    /* margin-right: 20px; */
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
  }

  .registerSvg {
    width: 300px;
    margin-bottom: 30px;
  }

  .registerForm {
    width: 360px;
    background-color: white;
    border-radius: 15px;
    z-index: 200px;
    box-shadow: 0 5px 8px 0;
    padding: 50px 40px;
    position: relative;
    bottom: 150px;
  }
}
