* {
  margin: 0;
}

.App {
  min-height: 100vh;
  background-color: #f7f7f7;
  padding-bottom: 30px;
}

.homepageContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.homepageTeam {
  width: 500px;
}

@media screen and (max-width: 800px) {
  .homepageContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-top: 30px;
    align-items: center;
  }

  .homepageTeam {
    width: 300px;
    margin-bottom: 30px;
  }
}
